.body-contact {
    background: none;
}

.contacto-body {
    height: 640px;
    display: flex;
    justify-content: end;
}


@media (max-width: 380px) {
    .contacto-body {
        height: 640px;
        background-color: #1D1D1D;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-end;

        .vector-bg {
            background: linear-gradient(87.34deg, #FC466B 0%, #3F5EFB 100%);
            filter: blur(64px);
            width: 91px;
            height: 157px;
            margin: 59px;
        }
    }
}