footer {
    .footer-up {
        .legales {
            padding-left: 12.5vw;
            width: 100%;
            height: 78px;
            display: flex;
            align-items: center;
            background-color: #090909;

            .data-footer {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: #fff;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }

                .g-text {
                    padding: 0 30px;
                    color: #9999;
                }
            }

            img {
                margin-right: 25px;
                width: 21.25px;
                height: 36px;
            }
        }
    }

    #datos-contacto {
        border-top: solid 1px #99999949;
        height: 62px;
        background-color: #090909;
        display: flex;
        justify-content: space-around;
        padding: 1vh 4vw;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $grisFooter;

            .datos-info {
                display: flex;
                align-items: center;
            }

            svg {
                margin-left: 25px;
                width: 24px;
                height: 24px;
                color: #999999;
            }

            a {
                text-decoration: none;
                font-family: $tipografiaPrimaria;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #999999;
                margin-left: 5px;
            }
        }

    }

    .rrss {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #999999;

        svg {
            width: 32px;
            height: 32px;
            margin: 0px 10px;
        }
        a{
            text-decoration: none;
            color: #999999;
            margin-top: 10px;
        }

    }
}