footer {
    .footer-up {
        background-color: #090909;
        display: flex;
        justify-content: center;

        .legales {
            width: 1097px;
            height: 78px;
            display: flex;
            align-items: center;
            background-color: #090909;

            .data-footer {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: #fff;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }

                .g-text {
                    padding: 0 30px;
                    color: #9999;
                }
            }

            img {
                margin-right: 25px;
                width: 21.25px;
                height: 36px;
            }
        }
    }

    .down-footer {
        border-top: solid 1px #99999922;
        background-color: #090909;
        display: flex;
        justify-content: center;

        #datos-contacto {
            width: 1097px;
            height: 62px;
            background-color: #090909;
            display: flex;
            justify-content: space-between;
            padding: 1vh 0px;

            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $grisFooter;

                .container-info:first-child{
                    margin-left: 0px;
                }
                .container-info{
                    margin-left: 30px;
                    .datos-info {
                        display: flex;
                        align-items: center;
                    }
                }

                svg {
                    width: 24px;
                    height: 24px;
                    color: #999999;
                }

                a {
                    text-decoration: none;
                    font-family: $tipografiaPrimaria;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #999999;
                    margin-left: 5px;
                }
            }

        }

        .rrss {
            padding-top: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #999999;

            svg {
                width: 32px;
                height: 32px;
                margin: 0px 10px;
            }

            a {
                text-decoration: none;
                color: #999999;
                margin-top: 10px;
            }

        }
    }
}