.copete-tittle {
  font-family: $tipografiaPrimaria;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: $grisTextos;
  text-align: center;

  h1 {
    margin-bottom: 0px;
    font-family: $tipografiaPrimaria;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $blancoTitulos;
    text-shadow: $shadowText;
    text-align: center;
  }

  h2 {
    padding-bottom: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: $grisTextos;
  }
}

#portada {
  background-color: $backgroundDark;
  padding-top: 80px;

  .flecha-abajo {
    padding-top: 60px;

    .icono-abajo {
      width: 32px;
      height: 32px;
      display: flex;
      margin: auto;
      color: $grisTextos;
    }
  }
}

.blocks-h {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .block-h-left,
  .block-h-right {
    width: 426px;
    height: 162px;
    border-radius: 8px;
    margin: 5px 10px 5px 23px;

    a {
      text-decoration: none;
      color: $backgroundDark;
    }

    h3 {
      font-family: $tipografiaPrimaria;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 32px;
      margin: 40px 0 10px 30px;
    }

    p {
      font-family: $tipografiaPrimaria;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 0 30px;
    }

    svg {
      width: 32px;
      height: 32px;
      margin: 10px 0 0 362px;
    }
  }

  .block-h-left {
    background-color: $rojo;
  }

  .block-h-right {
    background-color: $azul;
  }
}

/* portadas estilos hover */

.block-h-left:hover {
  background-color: transparent;
  border: solid 2px $rojo;

  h3,
  p,
  svg {
    color: $rojo;
  }
}

.block-h-right:hover {
  background-color: transparent;
  border: solid 2px $azul;

  h3,
  p,
  svg {
    color: $azul;
  }
}

/* secciones */

#section-1 {
  background-color: $backgroundDark;
  padding-top: 50px;

  svg {
    width: 40px;
    height: 40px;
  }

  h4 {
    color: $rojo;
    font-family: $tipografiaPrimaria;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .h5-largo {
    width: 611px;
    height: 54px;
  }

  h5 {
    color: $grisTextos;
    width: 173px;
    height: 80px;
    font-family: $tipografiaPrimaria;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .container-tittle {
    display: flex;
    justify-content: center;

    .tittle-section {
      width: 1097px;

      h2 {
        max-width: 1097px;
        text-align: left;
        color: $blancoTitulos;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
      }

      h3 {
        max-width: 1097px;
        font-family: $tipografiaPrimaria;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: $grisTextos;
        max-width: 872px;
        height: 96px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }


  .tarj-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .div-s-largo {
    margin: 10px 10px 10px 0;
    max-width: 651px;
    height: 230px;
    border: 1px solid #fc466b;
    border-radius: 8px;

    svg {
      margin: 40px 20px 0;
    }

    h4 {
      margin: 10px 20px 0;
    }

    .h5-largo {
      margin: 10px 20px 0;
      max-width: 651px;
    }
  }

  .div-s-corto {
    margin: 10px 10px 10px 0;
    width: 204px;
    height: 230px;
    border: 1px solid #fc466b;
    border-radius: 8px;

    svg {
      margin: 40px 20px 0;
    }

    h4 {
      margin: 10px 20px 0;
    }

    h5 {
      margin: 10px 20px 0;
    }
  }
}

#section-2 {
  background-color: $backgroundDark;
  padding-top: 100px;
  padding-bottom: 100px;

  svg {
    width: 40px;
    height: 40px;
  }

  h4 {
    color: $azul;
    font-family: $tipografiaPrimaria;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .h5-largo {
    width: 611px;
    height: 54px;
  }

  h5 {
    color: $grisTextos;
    width: 173px;
    height: 80px;
    font-family: $tipografiaPrimaria;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .container-tittle {
    display: flex;
    justify-content: center;

    .tittle-section {
      width: 1097px;

      h2 {
        max-width: 1097px;
        text-align: left;
        color: $blancoTitulos;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
      }

      h3 {
        max-width: 1097px;
        font-family: $tipografiaPrimaria;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: $grisTextos;
        max-width: 872px;
        height: 96px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .tarj-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .div-s-largo {
      margin: 10px 10px 10px 0;
      max-width: 651px;
      height: 230px;
      border: 1px solid $azul;
      border-radius: 8px;

      svg {
        margin: 40px 20px 0;
      }

      h4 {
        margin: 10px 20px 0;
      }

      .h5-largo {
        margin: 10px 20px 0;
        max-width: 651px;
      }
    }
  }

  .div-s-corto {
    margin: 10px 10px 10px 0;
    width: 204px;
    height: 230px;
    border: 1px solid $azul;
    border-radius: 8px;

    svg {
      margin: 40px 20px 0;
    }

    h4 {
      margin: 10px 20px 0;
    }

    h5 {
      margin: 10px 20px 0;
    }
  }
}

.sector {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: $backgroundDark;

  #div-plataformas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1097px;
    height: 80px;
    background-color: $backgroundPlataformas;
    border-radius: 8px;

    .plataformas {
      width: 100%;
      display: flex;
      justify-content: space-around;

      img {
        height: 33px;
      }
    }
  }
}

/* ------------------------------------------------- */

/* empresas - clientes */

#clientes {
  .tittle-clientes {
    display: flex;
    justify-content: center;

    h1 {
      margin: 80px 0 50px 0;
      width: 1097px;
      height: 56px;
      font-family: $tipografiaPrimaria;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: $backgroundDark;
      text-shadow: none;
    }
  }

  #clientes-section {

    .clientes-carrousel {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 7vw;
    }


    /* --------------------------------- */
    .inactive {
      display: none;
    }

    .empresas {
      display: block !important;
      margin: 10px;
      width: 203px;
      height: 230px;
      background-color: #1D1D1D;
      border-radius: 8px;
      .logo-emp {
          height: 90px;
      
          img {
            padding-top: 40px;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
    }
        h4 {
          font-family: $tipografiaPrimaria;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
          margin: 25px 0 0 0;
          padding: 0;
        }
    
        h5 {
          font-family: $tipografiaPrimaria;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: $grisTextos;
          margin: 8px 0 0 0;
          padding: 0;
        }
      }

    .empresa {
      margin: 10px;
      width: 203px;
      height: 230px;
      background-color: $backgroundDark;
      border-radius: 8px;

      .logo-emp {
        height: 90px;

        img {
          padding-top: 40px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }

      h4 {
        font-family: $tipografiaPrimaria;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        margin: 25px 0 0 0;
        padding: 0;
      }

      h5 {
        font-family: $tipografiaPrimaria;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $grisTextos;
        margin: 8px 0 0 0;
        padding: 0;
      }
    }

    .flecha-empresas {
      display: block;
      background-color: $backgroundDark;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      margin-top: 90px;
      margin-right: 20px;
      margin-left: 50px;

      

      svg {
        width: 32px;
        height: 32px;
        color: $blancoTitulos;
        margin: 8px;
      }
    }

    .flecha-empresas:hover {
      display: block;
      background-color:$blancoTitulos ;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      margin-top: 90px;
      margin-right: 20px;
      margin-left: 50px;

      

      svg {
        width: 32px;
        height: 32px;
        color:$backgroundDark ;
        margin: 8px;
      }
    }

    .flecha-active {
      display: block;
      background-color:$blancoTitulos ;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      margin-top: 90px;
      margin-right: 20px;
      margin-left: 50px;
      transform: rotate(179deg);

      svg {
        width: 32px;
        height: 32px;
        color:$backgroundDark ;
        margin: 8px;
      }
    }


  }
}

.cont {
  margin-top: 45px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.contacto-clientes {
  width: 1097px;
  height: 80px;
  border-radius: 8px;
  background-color: $backgroundPlataformas;
  display: flex;
  align-items: center;
  z-index: 3;
  justify-content: space-between;

  .asside-contact {
    display: flex;

    svg {
      margin: auto 0 auto 40px;
      width: 32px;
      height: 32px;
      color: $rojo;
    }

    p {
      margin-left: 15px;
      font-family: $tipografiaPrimaria;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $rojo;
    }

    .blue-contact {
      margin-left: 10px;
      font-family: $tipografiaPrimaria;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $grisTextos;
    }
  }

  .btn-contact {
    box-sizing: border-box;
    background: linear-gradient(87.34deg, #fc466b 0%, #3f5efb 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 52px;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0 40px;
  }

  .btn-contact:before {
    content: "";
    border: 1px solid #252525;
    background: #252525;
    border-radius: 6px;
    width: 149px;
    height: 48px;
  }

  .btn-contact p {
    color: white;
    position: absolute;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #d0d0d0;
    text-decoration: none;
  }

  .btn-contact:hover::before {
    content: "";
    border: none;
    background: linear-gradient(87.34deg, #fc466b 0%, #3f5efb 100%);
    border-radius: 8px;
    width: 146px;
    height: 45px;
  }
}


/* sticky  */



/* --------------------------------- */
.inactive {
  display: none;
}