@media screen and (min-width: 380px) and (max-width: 900px) {
    #section-1 {
        .tarj-section {
            .div-s-largo {
                margin: 10px 10px 10px 0;
                width: 66vw;
                height: 230px;
                border: 1px solid #fc466b;
                border-radius: 8px;
            }
        }
    }

    #section-1,
    #section-2 {
        .tittle-section {
            h1 {
                font-family: $tipografiaPrimaria;
                color: #ffff;
                text-align: center;
                margin: 0px;
                font-size: 30px;
            }

            p {
                margin-top: 0px;
                width: 90%;
                text-align: center;
                margin-left: 5vw;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #d0d0d0;
            }
        }

        .tarj-section {
            margin: 0;
            display: flex;
            justify-content: center;

            .div-s-largo {
                margin: 10px 10px 10px 0;
                width: 80vw;
                height: 245px;
                border: 1px solid #fc466b;
                border-radius: 8px;

                svg {
                    margin: 30px 20px 0;
                }

                h4 {
                    margin: 10px 20px 0;
                }

                .h5-largo {
                    margin: 10px 20px 0;
                    width: 72vw;
                }
            }
            .div-s-corto {
                margin: 10px 10px 10px 0;
                width: 39.5vw;
                height: 260px;
                border: 1px solid #fc466b;
                border-radius: 8px;

                svg {
                    margin: 30px 20px 0;
                }

                h4 {
                    margin: 10px 20px 0;
                }

                h5 {
                    width: 33vw;
                    margin: 10px 20px 0;
                }
            }
        }
    }
    #section-2 .tarj-section .div-s-corto, #section-2 .tarj-section .div-s-largo {
        border: 1px solid $azul;
    }
    /* prueba */
    .prueba{
        display: block;
    }
    .flecha-empresas{
        display: none;
    }

    .sector {
        #div-plataformas {
            width: 79vw;
            height: 190px;
            background-color: $backgroundPlataformas;
            border-radius: 8px;

            .plataformas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;

                img {
                    margin: 6px 25px;
                    height: 35px;
                }
            }
        }
    }

    #clientes {
        .tittle-clientes {
            h1 {
                width: 72vw;
                text-align: center;
                padding: 0px;
                margin: 30px 0 20px 80px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 30px;
                line-height: 56px;
                color: #1D1D1D;
            }
        }
    }

    .cont {
        margin-top: 45px;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }

    .contacto-clientes {
        width: 80%;
        height: 200px;
        border-radius: 8px;
        background-color: $backgroundPlataformas;
        display: block;
        align-items: center;
        z-index: 3;

        .asside-contact {
            display: block;

            svg {
                margin: 24px 0px 8px 40vw;
                width: 24px;
                height: 24px;
                color: $rojo;
            }

            p {
                margin: 0;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $rojo;
            }

            .blue-contact {
                margin-top: 5px;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $grisTextos;
            }
        }

        .ctn {
            margin: 6px;
            display: block;
            text-align: center;
        }
    }

    footer {
        .footer-up {
            .legales {
                padding: 0px;
                width: 100%;
                height: 87px;
                display: flex;
                background-color: #090909;

                .data-footer {
                    display: block;

                    p {
                        margin: 5px 0 0 0;
                        color: #fff;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .g-text {
                        width: 90%;
                        padding: 0;
                        color: #9999;
                    }
                }

                img {
                    margin-right: 10px;
                    margin-left: 16px;
                    width: 21.25px;
                    height: 36px;
                }
            }
        }

        #datos-contacto {
            border-top: solid 1px #99999949;
            height: 245px;
            background-color: #090909;
            display: block;
            padding: 0;

            .info {
                display: flex;
                color: #999999;
                width: 90%;
                height: 148px;
                margin: 0 6vw;
                justify-content: space-around;
                flex-wrap: wrap;

                .datos-info {
                    display: flex;
                    align-items: center;
                }

                svg {
                    margin-left: 25px;
                    width: 24px;
                    height: 24px;
                    color: $grisFooter;
                }

                p {
                    font-size: 14px;
                    margin-left: 1vw;
                    color: rgba(255, 255, 255, 0.792);
                }
            }

        }

        .rrss {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #FFF;

            svg {
                width: 32px;
                height: 32px;
                margin: 0px 10px;
            }

        }
    }
        
}



/* mobile */
@media (max-width: 380px) {
    .copete-tittle {
        h1 {
            margin-bottom: 0px;
            font-family: $tipografiaPrimaria;
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 56px;
            color: $blancoTitulos;
            text-shadow: $shadowText;
            text-align: center;
        }

        h2 {
            padding-bottom: 20px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $grisTextos;
        }
    }

    .blocks-h .block-h-left,
    .blocks-h .block-h-right {
        width: 90vw;
        height: 145px;
        border-radius: 8px;
        margin: 5px 0px 10px 0px;

        h3 {
            margin: 24px 0 0 16px;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
        }

        p {
            margin: 10px 0 0 16px;
            width: 72vw;
        }

        svg {
            margin: 0;
            position: relative;
            left: 295px;
            bottom: 50px;
            width: 26px;
            height: 32px;
        }
    }

    #section-1,
    #section-2 {
        .tittle-section {
            h1 {
                font-family: $tipografiaPrimaria;
                color: #ffff;
                text-align: center;
                margin: 0px;
                font-size: 20px;
            }

            p {
                margin-top: 0px;
                width: 90%;
                text-align: center;
                margin-left: 5vw;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #d0d0d0;
            }
        }

        .tarj-section {
            margin: 0;
            display: flex;
            justify-content: center;

            .div-s-largo {
                margin: 30px 0px 10px 0;
                width: 328px;
                height: 215px;

                svg {
                    width: 24px;
                    height: 24px;
                    margin: 32px 0 0 16px;
                }

                h4 {
                    margin: 8px 0 0 16px;
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                }

                .h5-largo {
                    margin: 8px 0 0 16px;
                    width: 80vw;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                }
            }

            .div-s-corto {
                margin: 10px 0px 10px 0;
                width: 328px;
                height: 161px;
                border-radius: 8px;

                svg {
                    width: 24px;
                    height: 24px;
                    margin: 32px 0 0 16px;
                }

                h4 {
                    margin: 8px 0 0 16px;
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                }

                h5 {
                    margin: 8px 0 0 16px;
                    width: 80vw;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }

    .sector {
        #div-plataformas {
            width: 328px;
            height: 168px;
            background-color: $backgroundPlataformas;
            border-radius: 8px;

            .plataformas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;

                img {
                    margin: 6px 25px;
                    height: 25px;
                }
            }
        }
    }

    #clientes {
        .tittle-clientes {
            h1 {
                width: 65vw;
                padding: 0px;
                margin: 31px 0 20px 20vw;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 25px;
                line-height: 56px;
                color: #1D1D1D;
            }
        }

        #clientes-section {
            margin-left: 0;
            width: 100%;

            .empresa {
                margin: 5px;
                width: 156px;
                height: 180px;
                background-color: $backgroundDark;
                border-radius: 8px;

                .logo-emp {
                    height: 90px;

                    img {
                        height: 80px;
                        width: 130px;
                        padding-top: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }

                h4 {
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 25px 0 0 0;
                    padding: 0;
                }

                h5 {
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    color: $grisTextos;
                    margin: 8px 0 0 0;
                    padding: 0;
                }
            }

            .flecha-empresas {
                background-color: $backgroundDark;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                margin-top: 90px;
                margin-right: 20px;
                margin-left: 50px;

                svg {
                    width: 32px;
                    height: 32px;
                    color: $blancoTitulos;
                    margin: 8px;
                }
            }
        }
    }

    /* contacto arriba footer */
    .cont {
        margin-top: 45px;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }

    .contacto-clientes {
        width: 90%;
        height: 200px;
        border-radius: 8px;
        background-color: $backgroundPlataformas;
        display: block;
        align-items: center;
        z-index: 3;

        .asside-contact {
            display: block;

            svg {
                margin: 24px 0px 8px 40vw;
                width: 24px;
                height: 24px;
                color: $rojo;
            }

            p {
                margin: 0;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $rojo;
            }

            .blue-contact {
                margin-top: 5px;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $grisTextos;
            }
        }

        .ctn {
            margin: 6px;
            display: block;
            text-align: center;
        }
    }


    /* footer legales */
    footer {
        .footer-up {
            .legales {
                padding: 0px;
                width: 100%;
                height: 87px;
                display: flex;
                background-color: #090909;

                .data-footer {
                    display: block;

                    p {
                        margin: 5px 0 0 0;
                        color: #fff;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .g-text {
                        width: 90%;
                        padding: 0;
                        color: #9999;
                    }
                }

                img {
                    margin-right: 10px;
                    margin-left: 16px;
                    width: 21.25px;
                    height: 36px;
                }
            }
        }

        #datos-contacto {
            border-top: solid 1px #99999949;
            height: 245px;
            background-color: #090909;
            display: block;
            padding: 0;

            .info {
                display: block;
                color: $grisFooter;
                width: 270px;
                height: 148px;
                margin: 0 6vw;

                .datos-info {
                    display: flex;
                    align-items: center;
                }

                svg {
                    margin-left: 25px;
                    width: 24px;
                    height: 24px;
                    color: $grisFooter;
                }

                p {
                    font-size: 14px;
                    margin-left: 1vw;
                    color: rgba(255, 255, 255, 0.792);
                }
            }

        }

        .rrss {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #FFF;

            svg {
                width: 32px;
                height: 32px;
                margin: 0px 10px;
            }

        }
    }
}
.prueba{
    display: block;
}
.flecha-empresas{
    display: none;
}