@media screen and (min-width: 420px) and (max-width: 900px) {
    #section-1 {
        .tarj-section {
            .div-s-largo {
                margin: 10px 10px 10px 0;
                max-width: 66vw;
                min-width: 419px;
                height: 230px;
                border: 1px solid #fc466b;
                border-radius: 8px;

                .h5-largo {
                    width: 402px;
                }
            }
        }
    }

    #section-2 {
        .tarj-section {
            .div-s-largo {
                max-width: 66vw;
                min-width: 419px;

                .h5-largo {
                    width: 402px;
                }
            }
        }
    }

    .flecha-arriba {
        position: fixed;
        right: 40px;
        bottom: 40px;
        width: 50px;
        height: 50px;
        background: linear-gradient(190deg, #FC466B 0%, #3F5EFB 100%);
        border-radius: 40px;

        svg {
            color: #FFF;
            width: 28px;
            height: 28px;
            margin-top: 11px;
            margin-left: 11px;
        }
    }

    #section-1,
    #section-2 {
        .container-tittle {
            .tittle-section {
                h2 {
                    margin: 0 12px;
                    max-width: 1097px;
                    text-align: left;
                    color: $blancoTitulos;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 56px;
                }

                h3 {
                    margin: 0 20px;
                    margin-left: 10px;
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    color: $grisTextos;
                    max-width: 872px;
                    height: 96px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .tarj-section {
                margin: 0;
                display: flex;
                justify-content: center;

                .div-s-largo {
                    margin: 10px 10px 10px 0;
                    width: 80vw;
                    height: 250px;
                    border: 1px solid #fc466b;
                    border-radius: 8px;

                    svg {
                        margin: 30px 20px 0;
                    }

                    h4 {
                        margin: 10px 20px 0;
                    }

                    .h5-largo {
                        margin: 10px 20px 0;
                    }
                }

                .div-s-corto {
                    margin: 10px 10px 10px 0;
                    width: 39.5vw;
                    height: 260px;
                    border: 1px solid #fc466b;
                    border-radius: 8px;

                    svg {
                        margin: 30px 20px 0;
                    }

                    h4 {
                        margin: 10px 20px 0;
                    }

                    h5 {
                        width: 33vw;
                        margin: 10px 20px 0;
                    }
                }
            }
        }
    }

    #section-2 .tarj-section .div-s-corto,
    #section-2 .tarj-section .div-s-largo {
        border: 1px solid $azul;
    }

    /* prueba */
    .prueba {
        display: block;
    }

    .flecha-empresas {
        display: none;
    }

    .sector {
        #div-plataformas {
            width: 79vw;
            height: 190px;
            background-color: $backgroundPlataformas;
            border-radius: 8px;

            .plataformas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;

                img {
                    margin: 6px 25px;
                    height: 35px;
                }
            }
        }
    }

    #clientes {
        .tittle-clientes {
            h1 {
                width: 72vw;
                text-align: center;
                padding: 0px;
                margin: 30px 0 20px 80px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 30px;
                line-height: 56px;
                color: #1d1d1d;
            }
        }
    }

    .cont {
        margin-top: 45px;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }

    .contacto-clientes {
        width: 80%;
        height: 200px;
        border-radius: 8px;
        background-color: $backgroundPlataformas;
        display: block;
        align-items: center;
        z-index: 3;

        .asside-contact {
            display: block;

            svg {
                margin: 24px 0px 8px 40vw;
                width: 24px;
                height: 24px;
                color: $rojo;
            }

            p {
                margin: 0;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $rojo;
            }

            .blue-contact {
                margin-top: 5px;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $grisTextos;
            }
        }

        .ctn {
            margin: 6px auto;
            display: block;
            text-align: center;
            width: 222px;
        }
    }

    footer {
        .footer-up {
            .legales {
                padding: 0px;
                width: 100%;
                height: 87px;
                display: flex;
                background-color: #090909;

                .data-footer {
                    display: block;

                    p {
                        margin: 5px 0 0 0;
                        color: #fff;
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .g-text {
                        width: 90%;
                        padding: 0;
                        color: #9999;
                    }
                }

                img {
                    margin-right: 10px;
                    margin-left: 16px;
                    width: 21.25px;
                    height: 36px;
                }
            }
        }

        .down-footer {
            background-color: #090909;

            #datos-contacto {
                border-top: solid 1px #99999949;
                height: 245px;
                background-color: #090909;
                display: block;
                padding: 0;

                .info {
                    display: flex;
                    color: #999999;
                    width: 90%;
                    height: 148px;
                    margin: 0 6vw;
                    justify-content: space-around;
                    flex-wrap: wrap;

                    .datos-info {
                        display: flex;
                        align-items: center;
                    }

                    svg {
                        margin-left: 25px;
                        width: 24px;
                        height: 24px;
                        color: $grisFooter;
                    }

                    p {
                        font-size: 14px;
                        margin-left: 1vw;
                        color: rgba(255, 255, 255, 0.792);
                    }
                }
            }
        }



        .rrss {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #fff;

            svg {
                width: 32px;
                height: 32px;
                margin: 0px 10px;
            }
        }
    }
}

/* mobile */
@media (max-width: 420px) {
    #portada {
        background-color: $backgroundDark;
        background-image: url(../img/vector-mobile.svg);
        padding-top: 10px;
        background-size: cover;

        .copete-tittle {
            padding-top: 87px;
            h1 {
                margin-bottom: 0px;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 56px;
                color: $blancoTitulos;
                text-shadow: $shadowText;
                text-align: center;
            }

            h2 {
                padding-bottom: 20px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $grisTextos;
            }
        }

        .blocks-h .block-h-left,
        .blocks-h .block-h-right {
            width: 90vw;
            height: 145px;
            border-radius: 8px;
            margin: 5px 0px 10px 0px;

            h3 {
                margin: 24px 0 0 16px;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
            }

            p {
                margin: 10px 0 0 16px;
                width: 72vw;
            }

            svg {
                margin: 0;
                position: relative;
                left: 295px;
                bottom: 50px;
                width: 26px;
                height: 32px;
            }
        }
    }

    .flecha-arriba {
        position: fixed;
        right: 40px;
        bottom: 40px;
        width: 50px;
        height: 50px;
        background: linear-gradient(190deg, #FC466B 0%, #3F5EFB 100%);
        border-radius: 40px;

        svg {
            color: #FFF;
            width: 28px;
            height: 28px;
            margin-top: 11px;
            margin-left: 11px;
        }
    }

    #section-1,
    #section-2 {

        .cont-data,
        .container-tittle {
            .tittle-section {
                h2 {
                    font-family: $tipografiaPrimaria;
                    color: #ffff;
                    text-align: center;
                    margin: 10px auto;
                    font-size: 20px;
                }

                h3 {
                    margin: 0 auto;
                    width: 85%;
                    text-align: center;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.6;
                    color: #d0d0d0;
                }
            }
        }

        .tarj-section {
            margin: 0;
            display: flex;
            justify-content: center;

            .div-s-largo {
                margin: 30px 0px 10px 0;
                width: 328px;
                height: 215px;

                svg {
                    width: 24px;
                    height: 24px;
                    margin: 32px 0 0 16px;
                }

                h4 {
                    margin: 8px 0 0 16px;
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                }

                .h5-largo {
                    margin: 8px 0 0 16px;
                    width: 78vw;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                }
            }

            .div-s-corto {
                margin: 10px 0px 10px 0;
                width: 328px;
                height: 161px;
                border-radius: 8px;

                svg {
                    width: 24px;
                    height: 24px;
                    margin: 32px 0 0 16px;
                }

                h4 {
                    margin: 8px 0 0 16px;
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                }

                h5 {
                    margin: 8px 0 0 16px;
                    width: 75vw;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }

    .sector {
        #div-plataformas {
            width: 328px;
            height: 168px;
            background-color: $backgroundPlataformas;
            border-radius: 8px;

            .plataformas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;

                img {
                    margin: 6px 25px;
                    height: 25px;
                }
            }
        }
    }

    #clientes {
        .tittle-clientes {
            h1 {
                max-width: 240px;
                padding: 0px;
                margin: 31px 0 20px 0;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 25px;
                line-height: 56px;
                color: #1d1d1d;
            }
        }

        #clientes-section {
            margin-left: 0;
            width: 100%;

            .clientes-carrousel {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .empresa {
                margin: 7px 7px;
                width: 156px;
                height: 180px;
                background-color: $backgroundDark;
                border-radius: 8px;

                .logo-emp {
                    height: 90px;

                    img {
                        height: 80px;
                        width: 130px;
                        padding-top: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }

                h4 {
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    text-align: center;
                    color: #ffffff;
                    margin: 25px 0 0 0;
                    padding: 0;
                }

                h5 {
                    font-family: $tipografiaPrimaria;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    color: $grisTextos;
                    margin: 8px 0 0 0;
                    padding: 0;
                }
            }

            .flecha-empresas {
                display: none;
                background-color: $backgroundDark;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                margin-top: 90px;
                margin-right: 20px;
                margin-left: 50px;

                svg {
                    width: 32px;
                    height: 32px;
                    color: $blancoTitulos;
                    margin: 8px;
                }
            }
            .prueba{
                display: block;
            }
        }
    }

    /* contacto arriba footer */
    .cont {
        margin-top: 45px;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }

    .contacto-clientes {
        width: 90%;
        height: 200px;
        border-radius: 8px;
        background-color: $backgroundPlataformas;
        display: block;
        align-items: center;
        z-index: 3;

        .btn-contact {
            box-sizing: border-box;
            background: linear-gradient(87.34deg, #fc466b 0%, #3f5efb 100%);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 153px;
            height: 52px;
            border-radius: 8px;
            flex: none;
            order: 3;
            flex-grow: 0;
            margin: 15px auto;
        }

        .asside-contact {
            display: block;

            svg {
                margin: 24px 0px 8px 40vw;
                width: 24px;
                height: 24px;
                color: $rojo;
            }

            p {
                margin: 0;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $rojo;
            }

            .blue-contact {
                margin-top: 5px;
                text-align: center;
                font-family: $tipografiaPrimaria;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $grisTextos;
            }

        }

        .ctn {
            margin: 6px;
            display: block;
            text-align: center;
        }
    }

    /* footer legales */
    footer {
        .footer-up {
            .legales {
                padding: 0px;
                width: 100%;
                height: 87px;
                display: flex;
                background-color: #090909;

                .data-footer {
                    display: block;

                    p {
                        margin: 5px 0 0 0;
                        color: #fff;
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .g-text {
                        width: 90%;
                        padding: 0;
                        color: #9999;
                    }
                }

                img {
                    margin-right: 10px;
                    margin-left: 16px;
                    width: 21.25px;
                    height: 36px;
                }
            }
        }

        .down-footer {
            #datos-contacto {
                border-top: solid 1px #99999949;
                height: 245px;
                background-color: #090909;
                display: block;
                padding: 0;

                .info {
                    display: block;
                    color: $grisFooter;
                    width: 320px;
                    height: 148px;
                    margin: 0 auto;

                    .container-info:first-child {
                        margin-left: 0px;
                    }

                    .container-info {
                        margin-left: 0px;

                        .datos-info {
                            display: flex;
                            align-items: center;
                        }
                    }

                    .datos-info {
                        display: flex;
                        align-items: center;
                        width: 320px;
                        height: 44px;
                        margin-top: 10px;
                    }

                    svg {
                        margin-left: 25px;
                        width: 24px;
                        height: 24px;
                        color: $grisFooter;
                    }

                    a {
                        font-size: 14px;
                        color: #999999;
                    }
                }
            }
        }

        .rrss {
            padding-top: 20px !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #fff;

            svg {
                width: 32px;
                height: 32px;
                margin: 0px 10px;
            }
        }
    }
}

.prueba {
    display: block;
}
